@use '../_shared' as *;
@use 'sass:color';
$hover-color: #f8f9fa;

.ui-calendar {
  position: relative;
  display: inline-block;
  .calendar-popup {
    position: relative;
    background: white;
    border: 1px solid $primary-color;
    @include border-radius;
    min-width: 300px;
    .calendar-controls {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      background: $hover-color;
      border-bottom: 1px solid $primary-color;
      @include border-radius(8px 8px 0 0);
      select {
        padding: 5px;
        border: 1px solid $primary-color;
        border-radius: 3px;
        cursor: pointer;
      }
    }
    .calendar-grid {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-auto-rows: minmax(auto, 1fr);
      gap: 1%;
      padding: 10px;
      box-sizing: border-box;
      .day-header {
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        color: $primary-color;
        line-height: 12px;
        container-type: size;
        .text {
          line-height: 100cqh;
        }
      }
      .calendar-day {
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-weight: bold;
        font-size: 13px;
        color: $primary-text-color;
        box-sizing: border-box;
        container-type: size;
        background: rgba(0, 0, 0, 0.1);
        @include border-radius;
        &.has-meta {
          background-color: color.adjust($primary-color, $alpha: -0.5);
        }
        &:hover {
          border: 1px solid $primary-color;
        }
        &.selected {
          border: 1px solid $primary-color;
          background: $primary-color;
          color: #ffffff;
        }
        &.disabled {
          color: color.adjust($primary-color, $alpha: -0.5);
          cursor: not-allowed;
        }
        .day-content {
          position: relative;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          text-align: center;
          vertical-align: top;
          line-height: 100cqh;
          .meta-content {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            font-size: 8px;
            text-align: center;
            background: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
  &.full-width {
    width: 100%;
    .calendar-grid {
      .calendar-day {
        aspect-ratio: 3;
        align-items: normal;
        justify-content: left;
        .day-content {
          padding-top: 2px;
          line-height: 13px;
          display: inline-block;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
