@use '../_shared' as *;
@use 'sass:color';

.ui-radio-group.long-button {
  padding: 6px 8px 0 8px;
  height: 40px;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 0;
  vertical-align: top;
  background: color.adjust($background-color, $lightness: -2%);
  @include border-radius();
  .ui-radio {
    position: relative;
    display: inline-block;
    margin: 0 8px 0 0;
    padding: 0 8px;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    cursor: pointer;
    color: $primary-text-color;
    &:last-child {
      margin-right: 0;
    }
    &.selected {
      @include border-radius();
      background-color: #ffffff;
      top: -1px;
    }
  }
}
