// src/styles/main.scss
@use '_shared' as *;
@use "layouts.scss";

@use "elements/skeleton.scss";
@use "elements/spoiler.scss";
@use "elements/ddl.scss";
@use "elements/tables.scss";

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: $background-color;
}

header, footer {
  background: $header-color;
  color: $header-text;
  padding: 1rem;
}

nav a {
  color: $header-text;
  margin-right: 1rem;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &.active {
    font-weight: bold;
  }
}
