// src/styles/main.scss
@use '_shared' as *;
@use "layouts.scss";

@use "elements/skeleton.scss";
@use "elements/spoiler.scss";
@use "elements/ddl.scss";
@use "elements/tables.scss";
@use "elements/datePickers.scss";
@use "elements/radios.scss";
@use "elements/buttons.scss";
@use "elements/calendar.scss";

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: $background-color;
}

header, footer {
  background: $header-color;
  color: $header-text;
  padding: 0 8px;
}

.main-menu {
  padding: 0;
  white-space: nowrap;
  .menu-link {
    color: $header-text;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    vertical-align: top;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 8px;
    font-family: monospace;
    font-size: 16px;
    &:hover, &.active {
      border-bottom: 4px solid $header-text;
    }
    &:hover {
      font-weight: bold;
    }
  }
}
