@use '../_shared' as *;
@use 'sass:color';

.ui-button {
  background-color: color.adjust($secondary-color, $alpha: -0.9);
  border: 1px solid $secondary-color;
  color: $secondary-color;
  @include box-shadow-main;
  padding: 0 8px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 0;
  vertical-align: top;
  @include box-shadow-main;
  cursor: pointer;
  font-weight: bold;
  &.primary {
    background-color: $secondary-color;
    color: $primary-color;
  }
  &:hover, &:focus {
    background: #ffffff;
  }
}
