@use '../_shared' as *;
@use 'sass:color';
.spoiler {
  border: 1px solid $secondary-color;
  background: color.adjust($secondary-color, $alpha: -0.9);
  border-width: 0 0 0 4px;
  margin-bottom: 16px;
  @include box-shadow-main;
  &>.header {
    height: $field-height;
    line-height: $field-height;
    padding: 0 8px;
    box-sizing: border-box;
    vertical-align: top;
    color: $secondary-color;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    &:after {
      color: $secondary-color;
      content: '▼';
      display: inline-block;
      position: absolute;
      right: 8px;
      transition: transform 1s ease-in-out;
    }
  }
  &>.contents {
    width: 100%;
    height: 0px;
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
    overflow-x: auto;
    &:before {
      content: '';
      height: 8px;
      width: 100%;
      display: block;
      border-top: 1px dashed color.adjust($secondary-color, $lightness: 20%);
    }
  }
  &.expanded {
    &>.header {
      &:after {
        transform: rotate(540deg);
      }
    }
    &>.contents {
      padding: 0 8px 8px 8px;
      height: auto;
      min-height: $field-height;
      overflow: visible;
    }
  }
}
