{% extends "layout.njk" %}
{% block content %}

<div class="flex-row">
  <div class="flex-column">

    <div class="ui-datepicker analyze-pnl-datepicker" data-range="true">
      <div class="wrapper">
        <input type="text" placeholder="Выберите период" readonly />
      </div>
    </div>

  </div>
  <div class="flex-column">
    <div class="dropdown ddl-strategy">
      <button class="dropdown-toggle">Стратегия</button>
      <div class="dropdown-menu"></div>
    </div>
  </div>
  <div class="flex-column">
    <div class="dropdown ddl-coin">
      <button class="dropdown-toggle">Монета</button>
      <div class="dropdown-menu"></div>
    </div>
  </div>
  <div class="flex-column">
    <div class="dropdown ddl-direction">
      <button class="dropdown-toggle">Направление</button>
      <div class="dropdown-menu"></div>
    </div>
  </div>
  <div class="flex-column">
    <div class="dropdown ddl-trading-series">
      <button class="dropdown-toggle">Торговые серрии</button>
      <div class="dropdown-menu"></div>
    </div>
  </div>
  <div class="flex-column">
    <div class="ui-button primary apply-filters">Применить фильтры</div>
  </div>
</div>

<br />

<div class="spoiler expanded">
  <div class="header">PNL/ROI</div>
  <div class="contents">
    <div class="ui-chartjs" id="container_pnl_roi" style="width:100%; height:400px;"></div>
  </div>
</div>

<div class="spoiler expanded">
  <div class="header">Детализация</div>
  <div class="contents">

    <div class="ui-calendar full-width trading-calendar"></div>

  </div>
</div>









  <script type="module">
import { getRequest, postRequest } from '@/services/api.js';
let currentStrategy = '';
let currentCoin = '';
let currentDirection = '';
let currentTradingSerie = '';
let currentDatePeriod = [];
let chartPnl = {};

function getStrategyResults(response, isUpdate=false) {
  let strategyNames = response.data.strategy_info.map(s => s.name);
  let coins = response.data.strategy_info.find(s => s.name === strategyNames[0])?.coins || [];
  let pnlRoiChartData = response?.data?.pnl_roi_chart;

  if (chartPnl?.series ) {
    chartPnl.series[0].setData(pnlRoiChartData.roi, false); // false, чтобы не перерисовывать сразу
    chartPnl.series[1].setData(pnlRoiChartData.pnl, false);
    chartPnl.series[2].setData(pnlRoiChartData.balance_changing, false);
    chartPnl.series[3].setData(pnlRoiChartData.amount, false);
    chartPnl.redraw();
  }
  if (isUpdate) {return;}
  initDropdowns('.dropdown.ddl-strategy', {
    data: strategyNames,
    multiSelect: true,
    onSelect: function(selectedStrategies) {
      currentStrategy = selectedStrategies;

      coins = [];
      selectedStrategies.forEach(str => {
        let cns = response.data.strategy_info.find(s => s.name === str)?.coins || [];
        coins.push(...cns);
      });

      initDropdowns('.dropdown.ddl-coin', {
        multiSelect: true,
        data: coins,
        onSelect: function(selectedCoins) {
          currentCoin = selectedCoins;
        }
      });

    }
  });
}
document.addEventListener('DOMContentLoaded', () => {

  const getDataForDddls = async function() {
    if ({{ DEBUG }}) {
      //console.log("API_URL", '{{ API_URL }}');
    }
    try {
      const response = await postRequest('/get_strategy_results', {"date_from": "2025-08-21"});
      getStrategyResults(response);
    } catch (error) {
      console.error('Ошибка загрузки данных:', error);
      return ['Ошибка загрузки'];
    }
  };
  const ddlData = getDataForDddls();

  let analyzePNLDatepicker = document.querySelector('.analyze-pnl-datepicker');
  analyzePNLDatepicker.addEventListener('datechange', (e) => {
    let p = e?.detail?.currentValue;
    const [startDate, endDate] = p.split('—').map(date => date.trim());
    currentDatePeriod = [startDate, endDate];
  });

  initDropdowns('.dropdown.ddl-direction', {
    data: ['Long', 'Short'],
    multiSelect: true,
    onSelect: function(selectedItem) {
      currentDirection = selectedItem;
    }
  });
  initDropdowns('.dropdown.ddl-trading-series', {
    data: ['Азия', 'Европа', 'Америка', 'Тихоокеания'],
    multiSelect: true,
    onSelect: function(selectedItem) {
      currentTradingSerie = selectedItem;
    }
  });

  document.querySelector('.apply-filters').addEventListener('click', async function(evt) {
    evt.stopPropagation();
    console.warn('currentStrategy,currentCoin',currentStrategy,currentCoin, currentDirection, currentTradingSerie, currentDatePeriod);
    //TODO send empty object if no contents filled
    const response = await postRequest('/get_strategy_results', {
      "date_from": currentDatePeriod[0],
      "date_to": currentDatePeriod[1],
      "strategy": currentStrategy || [],
      "symbol": currentCoin || [],
      "direction": currentDirection || [],
      "session": currentTradingSerie || []
    });
    getStrategyResults(response, true);
  });

  const chartPnlRoiOptions = {
    chart: {
      zooming: {
        type: 'x'
      },
      animation: false
    },
    credits: {
      enabled: false
    },
    title: {
      text: 'PnL/ROI'
    },
    xAxis: {
      type: 'datetime'
    },
    yAxis: {
      title: {
        text: 'Value'
      }
    },
    legend: {
      enabled: true
    },
    accessibility: {
      enabled: false,
    },
    tooltip: {
      shared: true,
      crosshairs: true
    },
    plotOptions: {
      series: {
        animation: false,
        marker: {
          radius: 2
        },
        lineWidth: 2,
        states: {
          hover: {
            lineWidth: 3
          }
        }
      }
    },
    series: [
      {
        type: 'line',
        name: 'ROI',
        data: [],
        color: '#4CAF50',
        dashStyle: 'Solid'
      },
      {
        type: 'line',
        name: 'PnL',
        data: [],
        color: '#2196F3',
        dashStyle: 'Solid'
      },
      {
        type: 'line',
        name: 'Баланс',
        data: [],
        color: '#FFC107',
        dashStyle: 'Solid'
      },
      {
        type: 'line',
        name: 'Amount',
        data: [],
        color: '#F44336',
        dashStyle: 'ShortDot'
      },
    ]
  };
  chartPnl = Highcharts.chart('container_pnl_roi', chartPnlRoiOptions);

  //fill Trading calendar with meta
  (function() {
    const calendarElement = document.querySelector('.ui-calendar.trading-calendar');

    calendarElement.addEventListener('calendarinitialized', (e) => {
      e.detail.calendar.setMeta([
        {
          date: new Date('2023-10-15'),
          htmltext: '<span class="event">Event 1</span>'
        },
        {
          date: new Date('2023-10-20'),
          htmltext: '<span class="event">Event 2</span>'
        },
        {
          date: new Date('2026-04-21'),
          htmltext: '<span class="event">much better WOW</span>'
        },
        {
          date: new Date('2026-05-23'),
          htmltext: '<span class="event">very nice</span>'
        }
      ]);
    });
  })();

});
  </script>
  <script type="application/javascript">
    console.log({{ DEBUG }},"<-:DEBUG");
    document.addEventListener('DOMContentLoaded', () => {

    });
  </script>
{% endblock %}
