{% extends "layout.njk" %}
{% block content %}

<div class="flex-row">
  <div class="flex-column">
    <div class="dropdown">
      <button class="dropdown-toggle">Выберите показатель</button>
      <div class="dropdown-menu"></div>
    </div>
  </div>
  <div class="flex-column">
    <div class="dropdown">
      <button class="dropdown-toggle">Выберите показатель</button>
      <div class="dropdown-menu"></div>
    </div>
  </div>
  <div class="flex-column">
    <div class="dropdown">
      <button class="dropdown-toggle">Выберите показатель</button>
      <div class="dropdown-menu"></div>
    </div>
  </div>
  <div class="flex-column">
    <div class="dropdown">
      <button class="dropdown-toggle">Выберите показатель</button>
      <div class="dropdown-menu"></div>
    </div>
  </div>
  <div class="flex-column">
    <div class="dropdown">
      <button class="dropdown-toggle">Выберите показатель</button>
      <div class="dropdown-menu"></div>
    </div>
  </div>
</div>

<br />
<div class="ui-button primary">sdfjsdhfjsd</div>
<br />
<br />

<div class="spoiler">
  <div class="header">awdawdawdawd</div>
  <div class="contents">
    awdawdawdaw
  </div>
</div>









  <script type="module">
import { getRequest, postRequest } from '@/services/api.js';

document.addEventListener('DOMContentLoaded', () => {


});
  </script>
  <script type="application/javascript">
    console.log({{ DEBUG }},"<-:DEBUG");
    document.addEventListener('DOMContentLoaded', () => {

    });
  </script>
{% endblock %}
