{% extends "layout.njk" %}
{% block content %}

  <div class="spoiler expanded">
    <div class="header">Настройки ботов</div>
    <div class="contents">

      <h3>user1</h3>
      <label class="ui-checkbox small">
        <span class="icon"></span>
        <input name="check_me_small" class="inp-checkbox" type="checkbox" />
        <span class="text">super_trend_japan_15m_tp_ts</span>
      </label>
      <h3>user3</h3>
      <label class="ui-checkbox small">
        <span class="icon"></span>
        <input name="check_me_small" class="inp-checkbox" type="checkbox" />
        <span class="text">super_trend_japan_1h</span>
      </label>
      <h3>kovalenkov</h3>
      <label class="ui-checkbox small">
        <span class="icon"></span>
        <input name="check_me_small" class="inp-checkbox" type="checkbox" />
        <span class="text">super_trend_renko_1h</span>
      </label>
      <h3>user2</h3>
      <label class="ui-checkbox small">
        <span class="icon"></span>
        <input name="check_me_small" class="inp-checkbox" type="checkbox" />
        <span class="text">super_trend_japan_15m</span>
      </label>
    </div>
  </div>

  <div class="dropdown users-stats">
    <button class="dropdown-toggle">Выберите пользователя</button>
    <div class="dropdown-menu"></div>
  </div>

  <h3>Баланс инвестора</h3>
  <div class="table-component user-stats">
    <div class="search-container">
      <input class="inp search" type="text" placeholder="Поиск..." autocomplete="off">
      <div class="autocomplete-items"></div>
    </div>
    <div class="table-container">
      <table>
        <thead>
        <tr>
          <th data-column="instId">Тикер</th>
          <th data-column="account_name">Аккаунт</th>
          <th data-column="entry_price">Вход ($)</th>
          <th data-column="start_time">Вход (дата)</th>
          <th data-column="delta_time">В сделке</th>

          <th data-column="percDeltaNow">ROI (%)</th>
          <th data-column="income">PnL ($)</th>
          <th data-column="fee">Комиссия ($)</th>
          <th data-column="notionalUsd">Стоимость позиции ($)</th>

          <th data-column="lever">Плечо</th>
          <th data-column="posSide">Сторона</th>
          <th data-column="totalEq">Текущий баланс</th>
          <th data-column="perc_pos">% от Депо</th>
          <th data-column="sell">Продать</th>
        </tr>
        </thead>
        <tbody class="table-body">
        <tr>
          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>

          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>

          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination">
      <button class="btn prev-page" disabled>Назад</button>
      <span class="page-info">Страница 1 из 1</span>
      <button class="btn next-page">Вперёд</button>
    </div>
  </div>
  </div>
  </div>

  <script type="module">
import { getRequest, postRequest, webSocketManager, WebSocketGroup } from '@/services/api.js';

let wsConnectionForInvBalance = null;
const myWebSocketGroup = new WebSocketGroup();

document.addEventListener('DOMContentLoaded', () => {

  const tableUserStats = document.querySelector('.table-component.user-stats');
  initDropdowns('.dropdown.users-stats', {
    data: async function() {
      if ({{ DEBUG }}) {
        //return ["user1","user2","user3","user4","user5","user6"];
      }
      try {
        const responseUsers = await getRequest('/cred_users/all',null,{uri:2});
        const usersArr = await Promise.all(
          responseUsers?.rows.map(async (item) =>item.username)
        );
        return usersArr;
      } catch (error) {
        console.error('Ошибка загрузки данных:', error);
        return ['Ошибка загрузки'];
      }
    },
    onSelect: async function (selectedUser) {

      if ({{ DEBUG }}) {
        console.log('Выбран Пользак :', selectedUser);
      }
      try {
        const wsUrl = `${import.meta.env.VITE_API_URL}/ws/${selectedUser}`;
        const invBalParams = {
          onMessage: async (data, ws) => {
            const formattedUsersStatsData = await Promise.all( data?.data.map( async item => {
              const { data: innerData } = item;

              return {
                instId: innerData.instId,
                account_name: innerData.account,
                entry_price: numberFormatter.format(innerData.avgPx),
                start_time: await dateFormatter(innerData.timestamp),
                delta_time: formatTimeMs((innerData.time * 1000)),

                percDeltaNow: numberFormatter.format(innerData.percDeltaNow),
                income: numberFormatter.format(innerData.income),
                fee: numberFormatter.format(innerData.fee),
                pnl: numberFormatter.format(innerData.pnl),
                notionalUsd: numberFormatter.format(innerData.notionalUsd),

                lever: numberFormatter.format(innerData.lever),
                posSide: innerData.posSide,
                totalEq: numberFormatter.format(innerData.totalEq),
                perc_pos: numberFormatter.format(innerData.perc_pos),
                sell: `<div class="ui-button primary">Продать</div>`
              };
            }));
            new UiTable(tableUserStats, formattedUsersStatsData, 10, {
              numericColumns: [
                'percDeltaNow',
                'income',
                'fee'
              ]
            });
          },
          onOpen: (ws) => {
            console.log('WebSocket connected');
            // Send initial message
            webSocketManager.send(wsUrl, { type: 'init', data: 'Hello' });
          },
          onClose: (event, ws) => {
            console.log('WebSocket disconnected', event);
          },
          onError: (error, ws) => {
            console.error('WebSocket error:', error);
          }
        };
        myWebSocketGroup.connect(wsUrl, invBalParams);

      } catch(err) {
        console.error('Ошибка загрузки данных:', err);
      }
    }
  });
});
  </script>
  <script type="application/javascript">
    console.log({{ DEBUG }},"<-:DEBUG");
    document.addEventListener('DOMContentLoaded', () => {

    });
  </script>
{% endblock %}
