{% extends "layout.njk" %}
{% block content %}
<h1>Welcome to My Landing Page</h1>
<p>This is a sample static page using Nunjucks + Vite + SCSS.</p>

<shoelace-button variant="primary">Click me!</shoelace-button>
{% endblock %}
