{% extends "layout.njk" %}
{% block content %}


  <div class="dropdown tags">
    <button class="dropdown-toggle">Выберите показатель</button>
    <div class="dropdown-menu"></div>
  </div>

  <div class="ui-datepicker pnl-period-datepicker">
    <div class="wrapper">
      <input type="text" placeholder="Выберите период" readonly />
    </div>
  </div>
<div class="flex-row">
  <div class="flex-column">


  <h3>Баланс инвестора</h3>
  {# TODO СВЕРИТЬ КОЛОНКИ#}
  <div class="table-component concat-stats">
    <div class="search-container">
      <input class="inp search" type="text" placeholder="Поиск..." autocomplete="off">
      <div class="autocomplete-items"></div>
    </div>
    <div class="table-container">
      <table>
        <thead>
        <tr>
          <th data-column="concat">Тикер</th>
          <th data-column="tag">Стратегия</th>
          <th data-column="account_name">Аккаунт</th>
          <th data-column="start_time">Вход (дата)</th>
          <th data-column="entry_price">Вход ($)</th>
          <th data-column="end_time">Выход (дата)</th>
          <th data-column="exit_price">Выход ($)</th>
          <th data-column="delta_time">В сделке</th>
          <th data-column="pnl">Процент (%)</th>
          <th data-column="clean_profit_percent">Прибыль (%)</th>
          <th data-column="gross_profit">Доход ($)</th>
          <th data-column="fee">Комиссия ($)</th>
          <th data-column="closeTotalPos">Прибыль ($)</th>
          <th data-column="openMaxPos">Макс объём</th>
          <th data-column="cash">Объём ($)</th>
          <th data-column="lever">Плечо</th>
          <th data-column="direction">Сторона</th>
          <th data-column="net_pnl_percent">net_pnl_percent??</th>
        </tr>
        </thead>
        <tbody class="table-body">
        <tr>
          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>
          <td><div class="skeleton" style="height: 40px;"></div></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination">
      <button class="btn prev-page" disabled>Назад</button>
      <span class="page-info">Страница 1 из 1</span>
      <button class="btn next-page">Вперёд</button>
    </div>
  </div>
  </div>
</div>








  <script type="module">
import { getRequest, postRequest } from '@/services/api.js';

document.addEventListener('DOMContentLoaded', () => {
  // PnL
  initDropdowns('.dropdown.tags', {
    data: async function() {
      if ({{ DEBUG }}) {
        return ["supertrend_15m_tp_ts_total_tp_v2", "supertrend_15m_tp_ts_total_tp_sl_v1", "oneside_grid_bot"];
      }
      try {
        const response = await fetch('{{ API_URL }}/filter/user_name_lead');
        const dta = await response?.json();
        return dta.map(item => item.name);
      } catch (error) {
        console.error('Ошибка загрузки данных:', error);
        return ['Ошибка загрузки'];
      }
    },
    onSelect: async function (selectedItem) {
      let tableConcatStats = document.querySelector('.table-component.concat-stats');
      const response = await postRequest('/get_position_data', { "name_acc": selectedItem } );
      const formattedInvestorBalanceData = await Promise.all(
        response.map(async (item) => ({
          concat: item.concat, // "IP-USDT",
          tag: item.tag, // "supertrend_15m_tp_ts_total_tp_v2",
          account_name: item.account_name, // "user_name"
          start_time: await dateFormatter(item.start_time), // "2026-04-18T11:00:53.434000",
          entry_price: numberFormatter.format(item.entry_price), // 0.573,
          end_time: await dateFormatter(item.end_time), // "2026-04-18T12:45:01.361000",
          exit_price: numberFormatter.format(item.exit_price), // 0.559,
          delta_time: numberFormatter.format(item.delta_time), // 6247.927,
          pnl: numberFormatter.format(item.pnl), // 1.3689999999999907,
          clean_profit_percent: numberFormatter.format(item.clean_profit_percent), // 2.541680591140304,
          gross_profit: numberFormatter.format(item.gross_profit), // 1.3159999999999907,
          fee: numberFormatter.format(item.fee), // -0.053,
          closeTotalPos: numberFormatter.format(item.closeTotalPos), // 94.0,
          openMaxPos: numberFormatter.format(item.openMaxPos), // 94.0,
          cash: numberFormatter.format(item.cash), // 53.861999999999995,
          lever: numberFormatter.format(item.lever), // 3.0,
          direction: item.direction, // "short",
          net_pnl_percent: numberFormatter.format(item.net_pnl_percent) // 2.443280977312374,
        }))
      );
      new UiTable(tableConcatStats, formattedInvestorBalanceData, 10, {
        numericColumns: [
          'entry_price',
          'exit_price',
          'delta_time' ,
          'pnl',
          'clean_profit_percent',
          'gross_profit',
          'fee',
          'closeTotalPos',
          'openMaxPos',
          'cash',
          'lever',
          'net_pnl_percent'
        ]
      });
    }
  });
});
  </script>
  <script type="application/javascript">
    console.log({{ DEBUG }},"<-:DEBUG");
    document.addEventListener('DOMContentLoaded', () => {

    });
  </script>
{% endblock %}
