<header>
  <nav>
    <a href="/" class="{% if currentPath == '/' %}active{% endif %}">Home</a>
    <a href="/about" class="{% if currentPath == '/about' %}active{% endif %}">About</a>
  </nav>
</header>
