<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>

  <link rel="icon" href="{{ asset('favicon.ico') }}">
  <link rel="stylesheet" href="{{ asset('css/main-' + THEME_NAME + '.css') }}">
  <link rel="stylesheet" href="{{ asset('styles/vendors/shoelace.css') }}">
</head>
<body class="layout-base">

{% include "header.njk" %}

<main>
  {% block content %}{% endblock %}
</main>

{% include "footer.njk" %}

<script type="module" src="/assets/js/main.js"></script>
</body>
</html>
